<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745268343343-c3gnf9uj4cjjk6qchtfm9q1iaontfjem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745268343343-c3gnf9uj4cjjk6qchtfm9q1iaontfjem</string>
	<key>API_KEY</key>
	<string>AIzaSyB5GWqdFX3i0rX8xnwjmKeq-W0mb16EkCI</string>
	<key>GCM_SENDER_ID</key>
	<string>745268343343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ueda.kanami.omisenokonnzatujouhou</string>
	<key>PROJECT_ID</key>
	<string>omisenojouhou</string>
	<key>STORAGE_BUCKET</key>
	<string>omisenojouhou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745268343343:ios:e188af2be85731df4c0cda</string>
</dict>
</plist>